@import url(./fontello.css);

/* 컬러 테마 */
:root{
  /* Color styles */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --primary: rgba(237, 85, 47, 1);
  --secondary: rgba(232, 133, 46, 1);
  --content: rgba(24, 24, 24, 1);
  --gray--100: rgba(245, 245, 245, 1);
  --gray--200: rgba(235, 235, 235, 1);
  --gray--300: rgba(224, 224, 224, 1);
  --gray--400: rgba(214, 214, 214, 1);
  --gray--500: rgba(204, 204, 204, 1);
  --gray--600: rgba(163, 163, 163, 1);
  --gray--700: rgba(122, 122, 122, 1);
  --gray--800: rgba(82, 82, 82, 1);
  --gray--900: rgba(41, 41, 41, 1);
  --accent--blue: rgba(41, 104, 151, 1);
  --accent--yellow: rgba(255, 255, 0, 1);
  --accent--green: rgba(68, 114, 49, 1);
}

/* 기본 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  font-size: 0.875rem;
  margin: 0;
  color: var(--content);
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background: url("./../assets/bg/bg_flower.png") no-repeat 50% 40px, 
  linear-gradient(180deg, var(--gray--500) 0%, var(--white) 73.96%);
}

img{
  /* display: block; */
  vertical-align: top;
}

a{
  color: inherit;
  text-decoration: none;
}

/* 유틸리티 클래스 */
.layout{
  width: 940px;
  margin: 0 auto;
}

.reset-list{
  margin: 0;
  padding-left: 0;
  padding-inline-start: 0;
  list-style: none;
}

.reset-box{
  margin: 0;
  padding: 0;
  border: 0;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
  /* width: 940px;
  inline-size: 940px;
  margin: 0 auto;
  margin-block: 0;
  margin-inline: auto; */
}

/* 헤더 */
.header{
  background-color: var(--white);
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 0 28px;

  /* &:hover{
    border-radius: 0 30px 0 30px / 0 60px 0 60px;
  } */
}

/* 브랜드, 로고 */
.brand{
  /* background-color: purple; */
  position: absolute;
  top: 60px;
  left: 45px;
}

/* 텍스트 링크모음 (멤버서비스) */
.member-service{
  margin-bottom: 6px;
  order: -1;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end; */
  font-size: 0;
  text-align: right;
  translate: 8px;
  
  li{
    display: inline-block;
    /* margin-left: -5px; */
    font-size: 0.875rem;
  }

  span, a{
    display: inherit;
  }

  span{
    margin: 0 8px;
  }

  a{
    text-transform: uppercase;
    padding: 8px;
  }
}

/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}

.menu{
  background: var(--primary) linear-gradient(180deg, var(--secondary) 0%, var(--primary) 30.73%, var(--primary) 64.58%, var(--secondary) 100%);
  padding-left: 205px;
  border-top: 2px solid var(--black);
  display: flow-root;
  /* overflow: hidden; */
  
  .menu-item{
    float: left;
    border-left: 1px solid var(--white);
    position: relative;
  }

  .menu-button{
    border: 0;
    background: transparent;
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
    padding: 17px 24px;
    text-shadow: 1px 1px 0 var(--black);
  }

  .sub-menu{
    position: absolute;
    display: none;
    white-space: nowrap;
    top: 65px;

    li{
      display: inline-block;
    }

    a{
      display: inline-block;
      padding: 6px 8px;
      margin-right: 16px;
      background: yellow url("./../assets/bg/bullet2.png") no-repeat 0 0;
    }
  }

  .menu-html, .menu-css, .menu-standards{
    left: 0;
  }

  .menu-accessibility, .menu-qna, .menu-archive{
    right: 0;
  }

  .is-active{
    .menu-button{
      color: var(--accent--yellow);

      &::after{
        content: "";
        display: block;
        border-top: 2px solid var(--black);
        position: relative;
        top: 17px;
      }
    }

    .sub-menu{
      display: block;
    }
  }
}

/* 비주얼 애니메이션 */
@keyframes moveEffect {
  0%{ 
    font-size: 12px;
    opacity: 0;
    translate: none; 
  }
  100%{ 
    font-size: 24px;
    opacity: 1;
    translate: 400px 75px; 
  }
}

@keyframes fadeEffect {
  0%{ opacity: 1; }
  100%{ opacity: 0; }
}

/* 비주얼 */
.visual{
  height: 120px;
  position: relative;

  &::before, &::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation: fadeEffect 2s infinite alternate;
  }

  &::before{
    background-image: url("./../assets/bg/ani_flower_01.png"), url("./../assets/bg/ani_flower_02.png");
    background-position: 0 -10px, 670px 5px;
  }
  
  &::after{
    animation-delay: 1s;
    background-image: url("./../assets/bg/ani_flower_03.png"), url("./../assets/bg/ani_flower_04.png");
    background-position: 300px 15px, 800px 5px;
  }
}

.visual-text{
  animation-name: moveEffect;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* 메인 */
.main{
  background-color: var(--white);
  border-radius: 15px 15px 0 0;
  padding: 28px 16px 12px;
  min-height: 600px;
  /* padding: 0 15px; */
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row nowrap;
  gap: 44px;
  justify-content: center;
}
.group{
  /* margin: 0 15px; */
}
.group1{
  /* order: 1; */
  width: 250px;
}
.group2{
 width:380px;
 display: flex;
 flex-flow: column nowrap;
 gap: 28px;
}
.group3{
  width: 190px;
}

/* 로그인 */
.login{
  background: var(--primary) radial-gradient(circle at right top, var(--primary), var(--secondary));
  box-shadow: 5px 5px 0 0 var(--gray--500);
  padding: 12px;
  border-radius: 5px;

  h2{
    font-size: 0.9375rem;
    color: var(--accent--yellow);
    margin-bottom: 10px;
  }

  form, & > div{
    background: var(--white);
    padding: 8px;
  }

  form{
    border-radius: 5px 5px 0 0;
    padding-bottom: 0;
  }

  fieldset{
    position: relative;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray--500);

    & div:nth-child(2){
      margin-bottom: 8px;
    }
  }

  .input-component{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    label{
      width: 4em;
      /* vertical-align: middle; */
    }

    input{
      width: 90px;
      height: 24px;
      border: 1px solid var(--gray--500);
      border-radius: 5px;
    }
  }

  button[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    background: var(--primary);
    color: var(--white);
    font-size: 0.8125rem;
    padding: 0;
    border: 0;
    width: 50px;
    height: 56px;
    border-radius: 5px;
  }

  & > div{
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    a::before{
      color: var(--primary);
    }
  }
}

/* 유효성 검사 */
.validation{
  li{
    margin: 16px 0;
    background: var(--gray--500);
    border: 1px solid var(--gray--700);
    border-radius: 20px;
  }
  
  a{
    display: block;
    padding: 10px 0 10px 36px;
    background: url("./../assets/bg/validation_icon.png") no-repeat 15px 50%;

    &:hover, &:focus{
      color: var(--primary);
    }
  }
}

/* 웹 관련 용어 */
.term{
  background: var(--gray--500);
  border: 1px solid var(--gray--600);
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;

  h2{
    font-size: 0.9375rem;
    line-height: 1.5;
  }

  dl{
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
  }
  
  dt{
    color: var(--accent--blue);
    font-weight: 700;
    margin-bottom: 4px;
  }

  dt, .brief{
    float: right;
    width: 142px;
    margin-top: -3px;
  }

  .thumbnail{
    float: left;
  }

  .cross dt, .cross .brief{
    float: left;
  }

  .cross .thumbnail{
    float: right;
  }
}

/* 검색 */
.search-form{
  border: 1px solid var(--gray--600);
  border-bottom: 0;
  background: var(--gray--500) linear-gradient(180deg, var(--gray--500), var(--gray--300));
  border-radius: 5px 5px 0 0;
  padding: 12px 24px 8px;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;

  .search-component{
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;

    label{
      font-size: 0.8125rem;
      line-height: 1.5;
    }

    span{
      margin-right: 4px;
    }

    input{
      flex-grow: 1;
      height: 26px;
      border: 1px solid var(--gray--600);
      border-radius: 5px;
    }
  }

  button[type="submit"]{
    background: var(--black);
    color: var(--white);
    border: 0;
    padding: 4px 8px;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 5px;
    height: 26px;
  }
}

/* 게시판 */
.board{
  position: relative;
}

.tablist{
  display: flex;
  flex-flow: row nowrap;

  .tab{
    border: 1px solid var(--gray--600);
    background: var(--gray--500);
    border-radius: 5px 5px 0 0;
    padding: 8px 16px;
    color: var(--gray--800);

    &[aria-selected="true"]{
      background: var(--white);
      color: var(--primary);
      border-color: currentColor; 
      border-bottom-color: var(--white);
    }
  }
}

.tabpanel{
  &.is-hidden{
    display: none;
  }

  ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    margin-top: 16px;
  }

  li{
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;

    a{
      flex: 1 1 auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      span{
        margin-right: 0.5em;
      }
    }
  }

  .more{
    position: absolute;
    top: 0;
    right: 0;

    span{
      color: var(--accent--green);
      margin-right: 0.5em;
    }
  }
}


/* 슬로건 */
.slogan{
  background-color: lime;
  height: 10vh;
}

/* 푸터 */
.footer-bg{
  background-color: silver;
}
.footer{
  background-color: skyblue;
  height: 10vh;
}